<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
    	table {
		    font-family: 'Source Sans Pro', sans-serif;
		    border: 1px solid thin #c1c1c1;
		    background-color: #EEEEEE;
		    width: 100%;
		    text-align: left;
		    table-layout:fixed;
		    border-collapse: collapse;
		}

		td,
		th {
		    text-transform: capitalize;
		    text-align: left;
		    vertical-align: center;
		    text-overflow: ellipsis;
		    border: 2px solid thin #c1c1c1;
		    word-wrap: break-word;
		    padding: 3px 3px;
		    font-size: 13px;
		}

		table tr:nth-child(even) {
		    background: #e5e5e5;
		}

		.thead {
		    font-size: 15px;
		    font-weight: bold;
		    color: #FFFFFF;
		    border-left: 1px solid thin #a3a3a3;
		    background: #5585b9;
		}

		hr {
		    border-top: 1px dotted black;
		}

		.no-break {
		    page-break-inside: avoid !important;
		}

		table,tr,td,div {
		    page-break-inside: auto !important;
		}

		th {
		    width: 30%;
		    border-right: 1px solid #c1c1c1 !important;
		}
    </style>
</head>
<body style="font-family: Verdana; font-size: 10pt">
<p>
  <b>This is a test!</b> This is an OA Switchboard Auto-reject message, sent in test environment (Sandbox).
</p>
<p>
	From: {{from.name}}, <br>
	To: {{to.name}}
</p>

<hr>
<p><i>{{data}}</i></p>
<p>View message in UI: <a href="{{baseurl}}/dashboard/messages?id={{id}}&type={{type}}">{{baseurl}}/dashboard/messages?id={{id}}&type={{type}}</a>
<hr>
<p><b>This is a test!</b> This message is for your information.</p>
<p>Kind regards,</p>
<p><i>OA Switchboard<br/>

</body>
</html>
